IO_LOC  "r[0]" 51;
IO_PORT "r[0]" IO_TYPE=LVCMOS33;

IO_LOC  "r[1]" 53;
IO_PORT "r[1]" IO_TYPE=LVCMOS33;

IO_LOC  "g[0]" 54;
IO_PORT "g[0]" IO_TYPE=LVCMOS33;

IO_LOC  "g[1]" 55;
IO_PORT "g[1]" IO_TYPE=LVCMOS33;

IO_LOC  "b[0]" 56;
IO_PORT "b[0]" IO_TYPE=LVCMOS33;

IO_LOC  "b[1]" 57;
IO_PORT "b[1]" IO_TYPE=LVCMOS33;

IO_LOC  "v_sync" 68;
IO_PORT "v_sync" IO_TYPE=LVCMOS33;

IO_LOC  "h_sync" 69;
IO_PORT "h_sync" IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
